gunicorn
blinker
certifi
charset-normalizer
click
filelock
Flask
fsspec
huggingface-hub
idna
importlib-metadata
itsdangerous
Jinja2
joblib
MarkupSafe
mpmath
networkx
nltk
numpy
packaging
Pillow
PyYAML
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
sympy
threadpoolctl
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions
urllib3
Werkzeug
zipp
